<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fuel Rate Prediction Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Static/profile.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- <script src="/__/firebase/6.2.4/firebase-app.js"></script> -->

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

    <!-- Initialize Firebase -->
    <!-- <script src="/__/firebase/init.js"></script> -->

    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Fuel Rate Prediction</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <!--     <li class="nav-item">
                    <a href="login.html" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="register.html" class="nav-link">Client Registration</a> 
                </li>-->
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">Client Profile Management</a>
                </li> -->
            </ul>

            <!--   <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="login.html" class="nav-link">Sign out</a>
                </li>
            </ul> -->

            <ul class="navbar-nav ml-auto">
                <li class="nav-item"></li>
                <a href="login.html"><button type="submit" class="btn btn-danger"> Sign Out!</button> </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Navbar-->

    <header>
        <br>
        <h2>Profile</h2>
    </header>

    <form id="form" action="fuelQuote.html" method="GET">
        <div class="form-group">
            <!-- Full Name -->
            <label for="full_name_id" class="control-label">Full Name</label>
            <input type="text" maxlength="50" pattern="^[a-zA-Z ]+$" required
                title="50 characters maximum(alphabetic characters only)." class="form-control" id="full_name_id"
                name="full_name" placeholder="John Deer" required="required" />
        </div>

        <div class="form-group">
            <!-- Street 1 -->
            <label for="street1_id" class="control-label">Street Address 1</label>
            <input type="text" maxlength="100" required title="100 characters maximum" class="form-control"
                id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o"
                required="required" />
        </div>

        <div class="form-group">
            <!-- Street 2 -->
            <label for="street2_id" class="control-label">Street Address 2</label>
            <input type="text" maxlength="100" title="100 characters maximum" class="form-control" id="street2_id"
                name="street2" placeholder="Apartment, suite, unit, building, floor, etc. (Optional)" />
        </div>

        <div class="form-group">
            <!-- City-->
            <label for="city_id" class="control-label">City</label>
            <input type="text" maxlength="100" pattern="[a-zA-Z]+" required title="100 characters maximum"
                class="form-control" id="city_id" name="city" placeholder="Smallville" required="required" />
        </div>

        <div class="form-group">
            <!-- State Button -->
            <label for="state_id" class="control-label">State</label>
            <select class="form-control" id="state_id" required="required">
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
        </div>

        <div class="form-group">
            <!-- Zip Code-->
            <label for="zip_id" class="control-labelZ">Zip Code</label>
            <input type="text" pattern="\d*" minlength="5" maxlength="9" size=10 required
                title="5 to 9 characters (Numerical characters only)" class="form-control" id="zip_id" name="zip"
                placeholder="#####" required="true" />

            <!--  <input type="number" pattern=".{5,9}" required title="5 to 9 characters" class="form-control" id="zip_id"
                name="zip" placeholder="#####" required="required" /> -->
        </div>

        <div class="form-group">
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary" onclick="store();">Get My Quote!</button>
        </div>

    </form>
</body>

<footer>
    <script src="/client/Javascript/profile.js"></script>
    <script src="/client/Javascript/fuelQuote.js"></script>
</footer>

</html>