{% extends 'base.html' %} {% block content %}
<header id="showcase">
  <div class="primary-overlay">
    <div class="container home-inner w-25">
      <div class="card bg-primary text-center text-light card-form">
        <div class="card-body">
            <br>
          <h3>Sign Up Today</h3>
          <p>Get access to our pricing database</p>
          {% load crispy_forms_tags %}
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form.full_name | as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.username | as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.password1 | as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.password2 | as_crispy_field }}
            </div>
            <button class="btn btn-dark btn-outline-light btn-lg btn-block">
              Submit
            </button>
          </form>
          <p class="mt-4">
            Already a member?<a href="{% url 'login' %}" class="text-light">
              Log in Here</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}