body {
  margin-top: 60px;
  height: 85vh;
}
.home-inner {
    padding-top: 50px;
}
  
#showcase {
    position: relative;
    background: url('../images/rocky-mountains-alberta-canada.jpg');
    min-height: 710px;
}
#showcase .primary-overlay {
    background: rgba(129, 76, 79, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
#edit-profile {
    position: relative;
    min-height: 710px;
}
  
#get-quote {
    position: relative;
    min-height: 710px;
}
  
#quote-list {
    position: relative;
    min-height: 710px;
}
  
#scroll {
    padding-top: 1000px;
}