body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33aeff);
    background: url('../Static/images/solo-vacationR.jpg');
    background-size:cover;
    margin-bottom:-5.5%;
    background-position: center;  
  }

  form{
      margin-left: 25%;
      margin-right:25%;
      margin-top:2%;
      align-content:center;
  }

  .nav-item{
    color:rgb(185, 181, 181);
}

 header{
  text-align:center;
  font-family: Times, "Times New Roman", serif;
  color: rgb(51, 46, 46);
  margin-bottom: -2%;
}  

.control-labelZ{
  color:white;
}
