<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <title>Fuel Rate Prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../Static/fqHistory.css">

  <script>
    function goBack() {
      window.history.back()
    }
  </script>
</head>

<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/6.2.4/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Fuel Rate Prediction</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">Fuel Quote History</a>
        </li>
        <!--   <li class="nav-item">
                            <a href="profile.html" class="nav-link">Client Profile Management</a>
                        </li> -->

      </ul>

   <!--    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="login.html" class="nav-link">Sign out</a>
        </li>
      </ul> -->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item"></li>
           <a href="login.html"><button type="submit" class="btn btn-danger"> Sign Out!</button> </a> 
        </li>
    </ul>
    </div>

  </nav>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!--  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Quote</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>$900</td>
        <td>2/11/19</td>
        <td>2:00pm</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>$500</td>
        <td>7/11/19</td>
        <td>5:00pm</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>$900</td>
        <td>9/19/19</td>
        <td>7:00pm</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>$100</td>
        <td>6/06/19</td>
        <td>9:30pm</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>$750</td>
        <td>3/06/19</td>
        <td>11:00pm</td>
      </tr>
    </tbody>
  </table>
   -->

  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Gallons</th>
            <th scope="col">Delivery Address</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Suggested Price</th>
            <th scope="col">Total Amount Due</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>10</td>
            <td>4858 Post Oak Timber Dr, Tx 77056</td>
            <td>10/25/2019</td>
            <td>$999</td>
            <td>$999</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>20</td>
            <td>123 Main St Joplin, MO 56789</td>
            <td>09/01/2019</td>
            <td>$600</td>
            <td>$12000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>15</td>
            <td>456 MLK St Atlanta, GA 30356</td>
            <td>11/01/2019</td>
            <td>$400</td>
            <td>$6000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="back" action="fuelQuote.html">
    <Submit Button>
      <button type="submit" class="btn btn-primary" onclick="history.back()">Back to Profile</button>
  </div>


</body>

</html>