<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuel Rate Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Static/fuelQuote.css">
    <script src="java.js"></script>
    <link rel="import" href="profile.html">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"
        rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Fuel Rate Prediction</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Fuel Quote</a>
                </li>
                <!--   <li class="nav-item">
                            <a href="profile.html" class="nav-link">Client Profile Management</a>
                        </li> -->
            </ul>
        </div>

    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



    <form action="fqHistory.html" method="get">
        <div class="form-group">
            <!-- Gallons Requested -->
            <label for="gallons_req" class="control-label">Gallons Requested</label>
            <input type="text" pattern=".{,50}" required title="50 characters maximum" class="form-control"
                id="gallons_req" name="gallons" placeholder="10" required="required">
        </div>

        <!--Script below doesn't do anything-->
        <script>
            var x, y, name;
            x = document.getElementById("form-group1");
            y = x.elements["name"].value;
            document.getElementById("street1_id").innerHTML = y;
        </script>


        <div class="form-group">
            <!-- Delivery Address -->
            <label for="delivery_id" class="control-label">Delivery Address</label>
            <input type="text" pattern=".{,100}" class="form-control" id="delivery_id" name="delivery"
                value="display client's address from profile" readonly>
        </div>



        <div class="form-group">
            <label for="date-picker-example">Delivery Date</label>
            <div class='input-group date' id='datepicker'>
                <input type='text' input placeholder="Selected date" class="form-control" required="required" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <script>
            $(function () {
                $('#datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    autoclose: true,
                    changeMonth: true,
                    changeYear: true,
                    orientation: "button"
                });
            });
        </script>


        <div class="form-group">
            <!-- Price Suggestion-->
            <label for="sug_price" class="control-label">Suggested Price</label>
            <input type="number" pattern=".{,100}" required title="100 characters maximum" class="form-control"
                id="sug_price" name="price" placeholder="$999" readonly>
        </div>


        <div class="form-group">
            <!-- Total Price-->
            <label for="total_price" class="control-label">Total Amount</label>
            <input type="number" pattern=".{5,9}" required title="5 to 9 characters" class="form-control"
                id="total_price" name="totPrice" placeholder="$999" readonly>
        </div>

        <div class="form-group">
            <Submit Button>
                <button type="submit" class="btn btn-primary">View Quote History!</button>
        </div>

    </form>

</body>

</html>