body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33aeff);
  }

#heading{
color:white;
font-style: normal;
font-display: bold;
}

#main-nav{
  margin-bottom:0em;
  padding-bottom:1em;
  padding-top:1em;
  margin-top:-2em;
} 

#showcase {
    position: relative;
    background: url('../images/rocky-mountains-alberta-canada.jpg');
    min-height: 710px;  
  } 

#showcase .primary-overlay {
    padding-top:6em;
    background: rgba(129, 76, 79, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #edit-profile {
    position: relative;
    min-height: 710px;
  }
  
  #get-quote {
    position: relative;
    min-height: 710px;
  }
  
  #quote-list {
    position: relative;
    min-height: 710px;
  }
  
  #scroll {
    padding-top: 1000px;
  }

